#main_canvas_div{
    width: 45%;
    height: 80%;
    /*left: 50%;*/
    float: left;
    margin-left: auto;
    /*margin-right: 10px;*/
}

#canvas_container{
    /*width: 55%;*/
    height: 80%;
    /*margin-left: auto;*/
    left: 60%;
}

#main_canvas {
    width: 100%;
    height: 100%;
    border: 1px solid #4b9d3a;
}

#log_canvas_div{
    width: 40%;
    height: 80%;
    margin-top: auto;
    margin-left: auto;
    margin-right: 10px;
    float: left;
}

#log_canvas{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#util_canvas_div{
    width: 85%;
    height: 20%;
    margin-top: auto;
    float: top;
}

#util_canvas{
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

body{
    width: 100%;
    height: 100%;
}

html{
    width: 100%;
    height: 100%;
}
